.AwesomeWindInfo
    float left
    display block

    border 15px solid #ddddee
    border-radius 5px
    width 310px
    height 290px
    margin 10px 10px
    padding 10px
    text-align center

    .container 
        margin-top 89px
