html
    font-family "Avenir Next" "Avenir" sans-serif

h1
    font-family "Futura"
    font-size 2rem
    max-width $chat-width
    margin 0 auto
    padding 25px
    color white
    font-weight normal

.f-smaller
    font-size 0.7rem

.f-strong
    font-weight bold
